.main{
    width: 100%;
    background-color: #5b0000;
    height: 90vh;
    padding-top:50px ;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.524);
}
.main .heading h1{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 38px;
}
.center{
    width: 20%;
    margin: 2% auto;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}
.center form{
    margin: 50px;
    
}
.center form .button{
    background-color: rgb(13, 253, 5);
    color: #000;
    padding: 10px 20px;
    margin: 20px;

}
.main .goback{
    border: 2px solid #000000;
    background: #585858;
    color: #ffffff;
    margin: 200px 50px;
    padding: 10px 20px;
    text-decoration: none;
}